# Build
bin/
obj/
artifacts/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
.env.*

# Rider (JetBrains)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Temp files
*.swp
